.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.form {
  border: 1px solid #222222;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100px;
}
