.errorText {
  font-size: 10px;
  color: red;
  text-align: center;
}

.inputWrapper {
  width: 100px;
  display: block;
}

.addFormInput {
  width: 100px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
